// 
// Cards
// 

// Styling for the portfolio cards

.card-deck {
    width: 100vw;
}

.card {
    margin-bottom: 1rem;
    margin-right: 15px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-title {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: $vvgit-white;
}

.text-muted {
    font-family: $headings-font-family;
    font-weight: 200;
    font-size: 1rem;
    color: $vvgit-gray;
}
