doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Vincent Van Gestel')

        title vvgIT - Webinar - Applying DevOps in embedded systems

        link(rel='icon', type='image/x-icon', href='../assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        // Iconfiy icons
        script(src='https://code.iconify.design/2/2.0.3/iconify.min.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='../../css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#topNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Vincent Van Gestel - Webinar - Applying DevOps in embedded systems
                span.d-none.d-lg-block
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='https://vvgit.be/#portfolio') Back

        // Page Content
        .container-fluid.p-0


            // Blog
            section#blog.resume-section
                .resume-section-content
                    h2.mb-5 Applying DevOps in embedded systems | N'tech Webinar

                    h3.mb-0 Video
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/e394QrALckU" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

                    h3.mb-0 Abstract
                    p
                        | DevOps principles are taking over the software development community by storm and for good reason.
                    p
                        | Year after year the metrics point out that companies applying DevOps have a competitive advantage over non-adopters.
                        | The embedded systems field has traditionally been slow in adopting state of the art development practices due to hardware dependencies.
                        | This means that there is a lot of room for innovative solutions to accelerate developer feedback.
                    p
                        | In this video I, together with my colleague
                        a(href="https://www.linkedin.com/in/toon-s-404472a9/") Toon Stegen
                        |, investigate some of the steps that can be taken towards the application of DevOps in embedded development.
                        | We analyze the evolution of DevOps as a concept and take a look at how the traditional software development life cyle in embedded can be updated to adopt some of these concepts.
                        | Some concrete examples are given to highlight how some of these changes can be implemented in practice.
                        | Finally, some real-world use cases are presented based on projects we worked on.

                    h3.mb-0 Acknowledgment
                    p
                        | Thanks to
                        a(href="https://www.nalys-group.com/en/home") Nalys
                        | for hosting the webinar and giving me the stage to talk about this subject.
                        | Thanks to
                        a(href="https://www.linkedin.com/in/toon-s-404472a9/") Toon Stegen
                        | for the collaboration, it was fun working together on the presentation and throwing ideas back and forth.
            hr.m-0

            footer
                p Copyright (c) vvgIT 2025

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
