doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Vincent Van Gestel')

        title vvgIT - Vincent Van Gestel

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        // Iconfiy icons
        script(src='https://code.iconify.design/2/2.0.3/iconify.min.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Vincent Van Gestel
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Vincent Van Gestel')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        span.text-primary Vincent
                        | Van Gestel
                    .subheading.mb-5
                        | Contact · +32 468 14 51 39 ·
                        a(href='mailto:vincent@vvgit.be') vincent@vvgit.be
                    p.lead.mb-5
                        | Hi, I'm an enthusiastic computer engineer active in the fascinating world of DevOps.
                        | As an experienced DevOps engineer, I've been in both the developer and operations seat and I'm familiar with the problems and struggles both sides face on a day-to-day basis (slow builds, integration nightmares, deployment anxiety, ...).
                        | I personally love figuring out how a large system operates (be it either code or a workflow) and replacing any slow, manual processes with nifty automations, pipelines and bots.
                        | It is always a great joy to be able to improve the workflow of myself and my fellow colleagues.
                        | In doing so, everyone can focus on the things that matter.
                        | Interested? Get in touch if you are looking for an efficient consultant who enjoys ripping through large codebases, setup custom pipelines and CI/CD processes, and can keep everyone up to speed with kick-ass presentations.
                    .social-icons
                        a.social-icon(href='mailto:vincent@vvgit.be')
                            i.fas.fa-envelope
                        a.social-icon(href='https://www.linkedin.com/in/vincent-van-gestel-a1a5271b0/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://gitlab.com/vvangestel')
                            i.fab.fa-gitlab
                        a.social-icon(href='https://www.youtube.com/channel/UCwtFHe0Wsa6Ph8FHEfUpMpQ')
                            i.fab.fa-youtube

            hr.m-0

            // Portfolio
            section#portfolio.resume-section
                .resume-section-content
                    h2.mb-5 Portfolio
                    .row.card-deck
                        .col-sm-3.card.bg-primary
                            img.card-img-top(src='assets/img/portfolio-legacy-to-aws-thumbnail.png')
                            .card-body
                                .card-title Migrating Legacy App to AWS in 5 Different ways
                                .card-text.text-muted Last updated 23/12/2021
                                a.stretched-link(href='portfolio/legacy-to-aws.html')
                        .col-sm-3.card.bg-primary
                            img.card-img-top(src='assets/img/portfolio-devops-embedded-webinar-thumbnail.jpg')
                            .card-body
                                .card-title Webinar - Applying DevOps in embedded systems
                                .card-text.text-muted Last updated 18/10/2021
                                a.stretched-link(href='portfolio/devops-embedded-webinar.html')
                        .col-sm-3.card.bg-primary
                            img.card-img-top(src='assets/img/website-logo-color.png')
                            .card-body
                                .card-title Building this website
                                .card-text.text-muted Last updated 8/10/2021
                                a.stretched-link(href='portfolio/devops-showcase-website.html')
                        //.col-sm-3.card.bg-primary
                        //    img.card-img-top(src='assets/img/website-logo-color.png')
                        //    .card-body
                        //        .card-title Coming Soon!
                        //        .card-text.text-muted Last updated 1/10/2021

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python(title="python")
                            .subtext Python
                        li.list-inline-item
                            span.iconify(aria-label="bash" data-icon='codicon:terminal-bash')
                            .subtext Bash
                        li.list-inline-item
                            i.fab.fa-node-js(title="Node.js")
                            .subtext Node.js
                        li.list-inline-item
                            span.iconify(data-icon='logos:c')
                            .subtext C
                        li.list-inline-item
                            span.iconify(data-icon='bx:bxl-c-plus-plus')
                            .subtext C++
                        li.list-inline-item
                            i.fab.fa-java(title="java")
                            .subtext Java
                        li.list-inline-item
                            span.iconify(data-icon='cib:ruby')
                            .subtext Ruby
                    .subheading.mb-3 Cloud Technologies
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            span.iconify(data-icon='mdi:kubernetes')
                            .subtext Kubernetes
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:helm')
                            .subtext Helm
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:openstack')
                            .subtext Openstack
                        li.list-inline-item
                            i.fab.fa-docker(title="docker")
                            .subtext Docker
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:podman')
                            .subtext Podman
                        li.list-inline-item
                            span.iconify(data-icon='cib:amazon-aws')
                            .subtext Amazon AWS
                        li.list-inline-item
                            span.iconify(data-icon='cib:google-cloud')
                            .subtext Google Cloud
                        li.list-inline-item
                            span.iconify(data-icon='cib:nginx')
                            .subtext Nginx
                    .subheading.mb-3 Environments & Other Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-linux(title="linux")
                            .subtext Linux
                        li.list-inline-item
                            i.fab.fa-git-alt(title="git")
                            .subtext Git
                        li.list-inline-item
                            i.fab.fa-bitbucket(title="bitbucket")
                            .subtext Bitbucket
                        li.list-inline-item
                            i.fab.fa-gitlab(title="gitlab-ci")
                            .subtext Gitlab CI
                        li.list-inline-item
                            i.fab.fa-jenkins(title="jenkins")
                            .subtext Jenkins
                        li.list-inline-item
                            span.iconify(data-icon='cib:ansible')
                            .subtext Ansible
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:puppet')
                            .subtext Puppet
                        li.list-inline-item
                            span.iconify(data-icon='cib:grafana')
                            .subtext Grafana
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:prometheus')
                            .subtext Prometheus
                        li.list-inline-item
                            span.iconify(data-icon='simple-icons:consul')
                            .subtext Consul
                        li.list-inline-item
                            span.iconify(data-icon='cib:vagrant')
                            .subtext Vagrant
                        li.list-inline-item
                            span.iconify(data-icon='cib:vim')
                            .subtext Vim
                        li.list-inline-item
                            span.iconify(data-icon='ic:baseline-adobe')
                            .subtext AEM
                    .subheading.mb-3 Expertise
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | DevOps
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cloud computing
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Linux
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Python development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | UML, Software design and architecture

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AWS Cloud System Engineer
                            .subheading.mb-3 VRT
                            p
                                | Managing AWS infrastructure at scale for a major radio, television and on demand streaming provider in Belgium. Performing site reliability engineering tasks to effectively build, deploy and monitor many development and production services. Coaching other engineers to apply best practices regarding DevOps.
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Provided AWS/Operations expertise to multiple large teams
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Audited infrastructure and processes to offer improvements regarding efficiency, scalability, maintainability and cost
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Managed complex infrastructure for AEM (Adobe Experience Manager), websites and services on AWS
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Created tools, pipelines and templates to improve coherence and unify development processes
                        .flex-shrink-0
                            span.text-primary January 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 DevOps Automation & CI/CD development
                            .subheading.mb-3 Soft At Home
                            p
                                | Maintaining infrastructure (Kubernetes) to host Jenkins and Gitlab CI pipelines. Optimizing pipelines to be perfomant for developers. Developing Python tools for fully automated integration of components and supporting multiple buildsystems seamlessly.
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Managed complex pipelines for multiple projects
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Created tools to seamlessly support multiple buildsystems
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Created tools for automated processing of git repos (integration)
                        .flex-shrink-0
                            span.text-primary July 2019 - December 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Development & Automated Testing
                            .subheading.mb-3 Soft At Home
                            p
                                | Implementing features, fixing bugs and overall improving quality of a large legacy codebase by introducing automated testing. The chosen testframework was based on pytest, with a custom in-house developed library to ease the test writer's life creating tests to run on embedded targets as well as locally on x86.
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Analyzed a large codebase
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Contributed to a new testing framework
                        .flex-shrink-0
                            span.text-primary November 2018 - July 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Cloud Based Testing
                            .subheading.mb-3 Nokia
                            p
                                | Short, POC project migrating from a complicated local test environment to a massively scalable, cloud based test environment on Kubernetes. The Kubernetes clusters were dynamic and automatically provisioned on top of a massive Openstack cluster.
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Provided Kubernetes expertise
                        .flex-shrink-0
                            span.text-primary 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Full Stack Deployment for CI/CD
                            .subheading.mb-3 IMAS/Van Genechten Packaging
                            p
                                | Deployed Kubernetes on top of bare metal servers using Maas/Juju. Improved developer workflow with a custom tailored CI/CD pipeline setup.
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Complete from the ground up deployment of Kubernetes
                                li
                                    span.fa-li
                                        i.fas.fa-star
                                    | Managed infrastructure, cloud software and CI/CD pipeline
                        .flex-shrink-0
                            span.text-primary 2018

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 KU Leuven
                            .subheading.mb-3 Master of Engineering: Computer Science
                            div Specialized in Distributed Systems
                            p Graduated Magna Cum Laude
                        .flex-shrink-0
                            span.text-primary September 2015 - August 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 KU Leuven
                            .subheading.mb-3 Bachelor of Science in Informatics
                            p Graduated Cum Laude
                        .flex-shrink-0
                            span.text-primary September 2012 - August 2015

            hr.m-0

            footer
                p Copyright (c) vvgIT 2025

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
