// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $vvgit-gray;
    background-color: $vvgit-background;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

pre {
    padding: 1.5rem;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

.subtext {
    font-family: $headings-font-family;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 3px;
}
