// 
// Colors
// 

// vvgIT colors
$vvgit-primary: #ffb400;
$vvgit-background: #2a3948;
$vvgit-white: #f6f6f6;
$vvgit-gray: #BDBDBD;
$vvgit-brown: #cc9000;

// Override Bootstrap default state colors

$primary: $vvgit-primary;
